{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
    <div id = "content">
		<table class = "headr">
		  <tr class = "head">
			<th class = "lft">First Name</th>
			<th class = "lft">Last Name</th>
			<th class = "lft">Constituency</th>
			<th class = "cntr">Email</th>
			<th class = "cntr">Hash</th>
			<th class = "cntr">Years of Service</th>
		  </tr>
		  <tr>
			<td class = "lft">Portia</td>
			<td class = "lft">Simpson-Miller</td>
			<td class = "lft">SW St. Andrew</td>
			<td class = "cntr"><span>portia.simpson-miller@example.gov.jm</span></td>
			<td class = "cntr">47586f8a</td>
			<td class = "cntr">39</td>
		  </tr>
		  <tr>
			<td class = "lft">Andrew</td>
			<td class = "lft">Holness</td>
			<td class = "lft">West Central St. Andrew</td>
			<td class = "cntr"><span>andrew.holness@example.gov.jm</span></td>
			<td class = "cntr">f88b6bca</td>
			<td class = "cntr">18</td>
		  </tr>
		  <tr>
			<td class = "lft">Orette</td>
			<td class = "lft">Golding</td>
			<td class = "lft">Kingston West</td>
			<td class = "cntr"><span>bruce.golding@example.gov.jm</span></td>
			<td class = "cntr">1967aa6b</td>
			<td class = "cntr">20</td>
		  </tr>
		  <tr>
			<td class = "lft">Percival</td>
			<td class = "lft">Patterson</td>
			<td class = "lft">Westmoreland Eastern</td>
			<td class = "cntr"><span>percival.patterson@example.gov.jm</span></td>
			<td class = "cntr">19e4f8b4</td>
			<td class = "cntr">27</td>
		  </tr>
		  <tr>
			<td class = "lft">Michael</td>
			<td class = "lft">Manley</td>
			<td class = "lft">Kingston Central</td>
			<td class = "cntr"><span>michael.manley@example.gov.jm</span></td>
			<td class = "cntr">cd827910</td>
			<td class = "cntr">25</td>
		  </tr>
		  <tr>
			<td class = "lft">Edward</td>
			<td class = "lft">Seaga</td>
			<td class = "lft">Kingston West</td>
			<td class = "cntr"><span>edward.seaga@example.gov.jm</span></td>
			<td class = "cntr">fce73c20</td>
			<td class = "cntr">43</td>
		  </tr>
		  <tr class = "invs">
			<td class = "bord2">Total</td>
			<td class = "bord"></td>
			<td class = "bord"></td>
			<td class = "bord"></td>
			<td class = "bord"></td>
			<td class = "bord">172</td>
		  </tr>
		</table>
	</div>
{% endblock %}
